html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  border: 2px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  list-style-type: none;
}

/*******************FOOTER CSS BELOW*****************/

.footer {
  height: 50px;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  bottom: 0px;
  position: relative;
}

/*************************RESTUTANT CARDS*******************/
.search {
  margin: 5px;
  padding: 10px;
}

.res-card {
  width: 190px;
  height: 350px;
  border: 1px solid gray;
  margin: 5px;
  padding: 3px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.res-card > h4,
h3 {
  margin: 2px;
  padding: 2px;
}

.res-card:hover {
  border: 2px solid black;
}

.res-img {
  height: 150px;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
}

.resturant-container {
  display: flex;
  flex-wrap: wrap;
}
